html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #201f1e;
    background-color: #F9f9f9;

}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*---------------------------
---------Nav section---------
----------------------------*/
nav {
    width: 100%;
    background-color:#C12300;
    padding: 2rem 0 2rem 0;

    line-height: 0px;
    vertical-align: top;
}

nav p {
    font-size: 2rem;
    color: #f7e4e0;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #f7e4e0;
}

.nav-wrapper{
    display: grid;
    width: 100%;
    grid-template-areas: "about skills contact recent img  . . . . .  naomi";
    border-bottom: 0.25rem solid #C13B1D;
    margin-bottom: 2rem;
    align-items: center;
}

.about-nav{
    grid-area: about;
    padding-left: 1rem;
    text-align: center;

}
.skills-nav{
    grid-area: skills;
    text-align: center;

}
.contact-nav{
    grid-area: contact;
    text-align: center;

}
.project-nav{
    grid-area: recent;
    text-align: center;

}

#arrow{
    grid-area: img;
    font-size: 4rem;
    margin: 0.75rem;

}

h1 {
    grid-area: naomi;
    text-align: right;
    padding-right: 1.5rem;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    color: #f7e4e0;
}

/*---------------------------
---------Hero Image----------
----------------------------*/

.hero img{
    width: 100%;
    height: auto;
}

/*---------------------------
---------Main---------
----------------------------*/

main {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 50rem));
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
    padding: 2rem;
}

main h3 {
    font-size: 5rem;
    font-family: "Playfair Display", serif;
    color: #F37F65;
    border-bottom: 0.25rem solid #C13B1D;
}

main p {
    font-size: 3rem;
}

#contact-main a img{
    height: 8rem;
    width: 8rem;
}