html {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #201f1e;
    background-color: #F9f9f9;
}


#navbar{
    position: fixed;
    top: 0;
    z-index:10;
    border-bottom: 2px solid red;
    width: 1750px;
    background-color: #f9f9f9;
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    

}

.logo{
/*float: right;*/
}

#navbar ul {
    float: left;
    line-height: 0px;
    list-style-type: none;
}

#navbar li {
    display: inline-block;
}


#real-menu {
    display: none;
}
h1 {
    font-family: 'Playfair Display', serif;
    color: #c12300;
    float: right;
    /*margin-right: 60px;*/
    line-height: 0px;
}

.hero{
    margin-top: 100px;

}

.hero img{
    width: 100%;
}


main {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    position: absolute;
}

#contact img {
    height: 50px;
    width: 50px;
}

#about{
    margin: 10px;
}

#about h3 {
    font-family: 'Playfair Display', serif;
    color: black;
}

#skills {
    margin: 10px;
}

#skills h3 {
    font-family: 'Playfair Display', serif;
}

#contact {
    margin: 10px;
}
#contact h3 {
    font-family: 'Playfair Display', serif;
}

.footer {
    position: fixed;

}

.footer img {
    margin-top: 250px;
    margin-left: 0px;
    opacity: 50%;
}

